<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508344849643-82sa9lt1opar6o9se09ntrsvm3o3e1sh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508344849643-82sa9lt1opar6o9se09ntrsvm3o3e1sh</string>
	<key>API_KEY</key>
	<string>AIzaSyAto3_Umj7AO87ag5aBBx5Jjngsrqn3CcM</string>
	<key>GCM_SENDER_ID</key>
	<string>508344849643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushnotification</string>
	<key>PROJECT_ID</key>
	<string>fir-pushnotification-d83fe</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-pushnotification-d83fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508344849643:ios:b47e3e8ac79268a5c51aae</string>
</dict>
</plist>